<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" th:href="@{/css/styles.css}"	type="text/css" />
<link rel="stylesheet" th:href="@{/css/flag-icon.css}"	type="text/css" />
<title>Welcome</title>
<meta charset="utf-8" />
</head>

	<!-- This VIEW shows the LOGGED IN USERS ACCOUNT -->

<body>
	<header>
	    <nav>
		   	<a th:href="@{/projects}" th:text="#{index.projects}">View all Projects</a>
		   	<a th:if="${session.loggedin} != null" th:href="@{/newproject}" th:text="#{index.newproject}">Add New Project</a>
		   	<a th:if="${session.loggedin} == null" th:href="@{/signup}" th:text="#{index.signup}">Sign Up</a>
			<a th:if="${session.loggedin} != null" th:href="@{/profile}" th:text="#{index.profile}">Profile</a>
		   	<a th:if="${session.loggedin} != null" th:href="@{/logout}" id="loginbutton"><span th:text="#{index.logout}"></span></a>
	    	<a th:if="${session.loggedin} == null" th:href="@{/login}"  id="loginbutton"><span th:text="#{index.login}"></span></a>
	    </nav>
    </header>
    
    <main>
    	<h1>Hi <span th:text="${member.memberName}">Name</span></h1>
		<h1>Your Projects</h1>
		<table>
			<tr>
				<th th:text="#{projects.Id}">ID</th>
				<th th:text="#{projects.projectName}">Project</th>
				<th th:text="#{project.chooseProjectToEdit}">Edit</th>
			</tr>
				
			<tr th:each="project,iterationCount : ${member.projects}" 
				th:class="${iterationCount.odd}? 'odd'" 
				th:object="${project}">			
				<td th:text="*{projectId}">1</td>
				<td><a th:href="'/projectdescription/'+*{projectId}" th:text="*{projectName}">Project</a></td>
				<td><a th:href="'/editproject/'+*{projectId}" th:text="#{editproject.projectDescription}"></a></td>
			</tr>
		</table>
	</main>
	
	<footer>
		<a th:href="@{/projects}+'?lang=fr'"><i class="flag-icon flag-icon-fr"></i></a>
   		<a th:href="@{/projects}+'?lang=ie'"><i class="flag-icon flag-icon-ie"></i></a>
	</footer>
</body>
</html>


<!--   -->