<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css" />
	<link rel="stylesheet" th:href="@{/css/flag-icon.css}" type="text/css">
	<title>Welcome</title>
	<meta charset="utf-8" />
</head>

<body>

	<header>
		<h1><span th:text="#{index.welcome}">WELCOME</span></h1>
	    <nav>
		   	<a th:href="@{/projects}" th:text="#{index.projects}">View all Projects</a>
		   	<a th:href="@{/newproject}" th:text="#{index.newproject}">Add New Project</a>
		   	<a th:if="${session.loggedin} == null" th:href="@{/login}" th:href="@{/profile}" th:text="#{index.profile}">Profile</a>
		   	<a th:if="${session.loggedin} != null" th:href="@{/logout}" id="loginbutton"><span th:text="#{index.logout}"></span></a>
	    	<a th:if="${session.loggedin} == null" th:href="@{/login}"  id="loginbutton"><span th:text="#{index.login}"></span></a>
	    </nav>
    </header>

<main>

	<!-- This is the View for REGISTERED USERS when they click on a project -->
	
	<table>
		<tr>
			<th th:text="#{projects.projectId}">ID</th>
			<th th:text="#{projects.projectName}">Name</th>
			<th th:text="#{projects.pledges}">Pledges</th>
			<th th:text="#{projects.projectDescription}">Description</th>
		</tr>
		<tr th:object="${project}">
			<td th:text="*{projectId}">ID</td>
			<td th:text="*{projectName}">Name</td>
			<td th:text="#{project.pledges}"><a th:href="'/pledgelist/'+*{projectId}"></a>Pledges</th>
			<td th:text="*{projectDescription}">Description</td>
		</tr>
	</table>
</main>
	<footer>
    		<a th:href="@{towns?lang=fr}"><i class="flag-icon flag-icon-fr"></i></a>&nbsp;
    		<a th:href="@{towns?lang=ie}"><i class="flag-icon flag-icon-ie"></i></a>
	</footer>

</body>
</html>
