<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css" />
	<link rel="stylesheet" th:href="@{/css/flag-icon.css}" type="text/css">
	<title>Welcome</title>
	<meta charset="utf-8" />
</head>

	<!-- This VIEW shows the details of a chosen PROJECT -->
	<!-- If the user is LOGGED IN they can see the table row CURRENT AMOUNT -->

<body>

	<header>
		<h1><span th:text="#{index.welcome}">WELCOME</span></h1>
	    <nav>
		   	<a th:href="@{/projects}" th:text="#{index.projects}">View all Projects</a>
		   	<a th:if="${session.loggedin} != null" th:href="@{/newproject}" th:text="#{index.newproject}">Add New Project</a>
		   	<a th:if="${session.loggedin} == null" th:href="@{/signup}" th:text="#{index.signup}">Sign Up</a>
			<a th:if="${session.loggedin} != null" th:href="@{/profile}" th:text="#{index.profile}">Profile</a>
		   	<a th:if="${session.loggedin} != null" th:href="@{/logout}" id="loginbutton"><span th:text="#{index.logout}"></span></a>
	    	<a th:if="${session.loggedin} == null" th:href="@{/login}"  id="loginbutton"><span th:text="#{index.login}"></span></a>
	    </nav>
    </header>

<main>

	<!-- This is the View for UNREGISTERED USERS when they click on a project -->
	<!-- They wont be able to view the Target and Current Amount for the Project -->
	
	<table>
		<tr>
			<th th:text="#{project.projectId}">ID</th>
			<th th:text="#{project.projectName}">Name</th>
			<th th:text="#{project.targetAmount}">Target Amount</th>
			<th th:text="#{project.currentAmount}" th:if="${session.loggedin} != null">Current Amount</th>
			<th th:text="#{project.projectDescription}">Description</th>
		</tr>
		<tr th:object="${project}">
			<td th:text="*{projectId}">ID</td>
			<td th:text="*{projectName}">Name</td>
			<td th:text="*{targetAmount}">Target Amount</td>
			<td th:text="*{currentAmount}" th:if="${session.loggedin} != null"><a th:href="'/pledges/'+*{projectId}">Current Amount</a></th>
			<td th:text="*{projectDescription}">Description</td>
		</tr>
	</table>
	 <a th:if="${session.loggedin} != null" th:href="'/pledge/'+*{projectId}" th:text="#{projects.pledges}" class="btn btn-success">Pledges</a>
</main>
	<footer>
   		<a th:href="@{projectdetails?lang=fr}"><i class="flag-icon flag-icon-fr"></i></a>&nbsp;
   		<a th:href="@{projectdetails?lang=ie}"><i class="flag-icon flag-icon-ie"></i></a>
	</footer>

</body>
</html>
